.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.product-image {
    height: 200px;
    width: 150px;
}

.product-cart {
    display: flex;
}

.product-quantity-input {
    width: 50px;
}

.total-product {
    text-align: right;
}


